formcontainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    background-color: #131324;
    
    }
    
    
    .brand {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      justify-content: center;
    }
      img {
        height: 5rem;
      }
      h1 {
        color: white;
        text-transform: uppercase;
      }
    
    form {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background-color: #00000076;
      border-radius: 0.5rem;
      padding: 1rem 2rem;
    }
    input {
      background-color: transparent;
      padding: 1rem;
      border: 0.1rem solid #4e0eff;
      border-radius: 0.4rem;
      color: white;
      width: 80%;
      font-size: 0.5rem;
    }
      inpu:focus {
        border: 0.1rem solid #997af0;
        outline: none;
      }
    
    button {
      background-color: #4e0eff;
      color: white;
      padding: 0.5rem 1rem;
      border: none;
      font-weight: bold;
      cursor: pointer;
      border-radius: 0.4rem;
      font-size: 1rem;
      text-transform: uppercase;
    }
      button:hover {
        background-color: hsl(24, 100%, 53%);
      }
    
    span {
      color: white;
      text-transform: uppercase;
    }
      a {
        color: #4e0eff;
        text-decoration: none;
        font-weight: bold;
      }
    .span_tag{
    
        color: hsl(150, 100%, 53%);
    }
    
    h2{
    
        color: #4e0eff;
    }